@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply p-0 m-0 text-black font-normal text-base;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.btn {
    @apply py-2 px-6 font-medium focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 rounded-lg shadow-md;
    min-width: 100px;
    &-primary {
        @apply bg-gradient-to-r from-blue to-purple text-white;
    }

    &-white {
        @apply bg-white text-black border;
    }
}

.vector1 {
    position: absolute;
    left: 44.24%;
    right: -16.18%;
    top: -2.86%;
    bottom: 87.55%;
    left: 637px;
    top: -207.662109375px;
    border-radius: 0px;
    background: linear-gradient(184.66deg, #d5c5df 3.77%, #c4eef5 93.79%);
    opacity: 0.2;
    transform: rotate(-32.94deg);
}

.custom-shape-divider-top-1635428704 {
    position: absolute;
    /* left: 44.24%; */
    /* right: -16.18%; */
    /* top: -2.86%; */
    /* bottom: 87.55%; */
    /* left: 637px; */
    /* top: -207.662109375px; */
    /* bottom: 87.55%; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    /* z-index: 100; */
    /* background: linear-gradient(184.66deg, #d5c5df 3.77%, #c4eef5 93.79%); */
}

.custom-shape-divider-top-1635428704 svg {
    /* position: relative; */
    /* display: block; */
    height: 1112;
    width: 1036;
}

.custom-shape-divider-top-1635428704 .shape-fill {
    fill: #9b9b9b;
    background: linear-gradient(184.66deg, #d5c5df 3.77%, #c4eef5 93.79%);
}
