@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply p-0 m-0 text-black font-normal text-base font-hntRegular antialiased bg-white;
}

.btn {
    @apply py-2 px-3 md:px-6 text-center text-sm md:text-base font-hntMedium font-semibold focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 rounded-lg shadow-md hover:shadow-lg inline-block transition-shadow duration-200;
    min-width: 110px;

    &-big {
        @apply py-3;
    }
    &-primary {
        @apply bg-gradient-to-r from-blue to-purple text-white;
    }

    &-white {
        @apply bg-white text-black border;
    }
}

.bg {
    &-fade {
        &-b {
            background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(255, 255, 255, 1)),
                to(rgba(255, 255, 255, 0))
            );
        }
        &-t {
            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                from(rgba(255, 255, 255, 1)),
                to(rgba(255, 255, 255, 0))
            );
        }
    }
}

.ellipse {
    &-blue {
        mix-blend-mode: multiply;
        background: linear-gradient(
            27.26deg,
            #174aff 10.29%,
            rgba(48, 193, 255, 0.71) 47.6%,
            rgba(23, 130, 255, 0) 79.9%
        );
    }
    &-indigo {
        background: radial-gradient(
            99.28% 75.82% at 76.01% 84.93%,
            #7285e5 0%,
            rgba(204, 166, 254, 0.591861) 58.15%,
            rgba(213, 194, 238, 0) 98.88%
        );
        mix-blend-mode: normal;
    }

    &-green {
        background: linear-gradient(
            315.72deg,
            #3be8d3 14.79%,
            #52cd99 41.1%,
            rgba(80, 227, 194, 0) 77.3%
        );
        mix-blend-mode: multiply;
        transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
    }
}
