@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply p-0 m-0 text-black font-normal text-base font-hntRegular antialiased bg-white;
}

.btn {
    @apply py-2 px-3 whitespace-nowrap md:px-6 text-center text-sm md:text-base font-hntMedium font-semibold focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 rounded-lg shadow-md hover:shadow-lg inline-block transition-all duration-200;
    min-width: 110px;

    &-big {
        @apply py-3;
    }
    &-primary {
        @apply bg-gradient-to-r from-blue to-purple text-white;
    }

    &-indigo {
        @apply bg-indigo-300 bg-opacity-30 text-indigo-300 hover:bg-opacity-50;
    }

    &-white {
        @apply bg-white text-black border;
    }
}

.bg {
    &-fade {
        &-b {
            background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(255, 255, 255, 1)),
                to(rgba(255, 255, 255, 0))
            );
        }
        &-t {
            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                from(rgba(255, 255, 255, 1)),
                to(rgba(255, 255, 255, 0))
            );
        }
    }
}

.ellipse {
    &-blue {
        mix-blend-mode: multiply;
        background: linear-gradient(
            27.26deg,
            #174aff 10.29%,
            rgba(48, 193, 255, 0.71) 47.6%,
            rgba(23, 130, 255, 0) 79.9%
        );
    }
    &-indigo {
        background: radial-gradient(
            99.28% 75.82% at 76.01% 84.93%,
            #7285e5 0%,
            rgba(204, 166, 254, 0.591861) 58.15%,
            rgba(213, 194, 238, 0) 98.88%
        );
        mix-blend-mode: normal;
    }

    &-green {
        background: linear-gradient(
            315.72deg,
            #3be8d3 14.79%,
            #52cd99 41.1%,
            rgba(80, 227, 194, 0) 77.3%
        );
        mix-blend-mode: multiply;
        transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
    }
}

.content {
    h1 {
        @apply font-hntMedium text-3xl md:text-4xl lg:text-6xl;
    }

    h2 {
        @apply font-hntMedium text-3xl;
    }

    h3 {
        @apply font-hntMedium text-2xl;
    }

    p {
        @apply text-black text-opacity-70;
    }

    a {
        @apply underline text-indigo-300 hover:underline no-underline;
    }
    strong {
        @apply font-hntMedium;
    }
    ol {
        @apply list-decimal;
    }
    ul {
        @apply list-disc;
    }
    ul,
    ol {
        @apply pl-12 mb-6;

        li {
            @apply mb-2 last:mb-0;
        }
    }

    table {
        @apply table-auto w-full mb-6;

        thead {
            tr {
                td {
                    @apply font-hntMedium text-center;
                }
            }
        }

        tr {
            td {
                @apply border p-3;
            }
        }
    }
}

.clip {
    &-path {
        &-left {
            clip-path: path(
                "M287.341 769.841C314.27 752.652 351.102 710.139 360.803 667.405C387.846 548.237 372.453 422.937 317.093 311.599C261.733 200.261 169.613 109.336 55.5072 53.4074C-17.7123 17.512 -99.7435 -3.13593 -180.979 1.3168C-262.214 5.76953 -342.333 36.4516 -398.752 92.0963C-449.496 142.098 -478.719 208.679 -502.836 274.968C-530.275 350.426 -552.761 431.266 -536.842 510.56C-521.414 587.407 -470.93 654.86 -410.269 707.528C-314.54 790.185 -194.111 840.968 -67.2744 852.162C58.5587 862.903 211.666 818.164 287.341 769.841Z"
            );
        }

        &-right {
            clip-path: path(
                "M281.161 -880.531C227.207 -863.467 144.701 -807.616 108.512 -738.947C7.61084 -547.457 -23.4964 -326.021 20.1789 -110.15C63.8542 105.721 179.781 303.518 349.369 451.519C458.186 546.501 589.07 619.434 730.099 649.058C871.129 678.681 1022.27 662.916 1144.31 593.577C1254.05 531.29 1334.58 430.772 1406.23 328.413C1487.77 211.889 1563.3 83.8857 1572.42 -59.0793C1581.25 -197.631 1525.8 -336.183 1446.16 -454.104C1320.26 -639.411 1137.5 -781.507 925.622 -858.806C715.255 -934.87 432.788 -928.515 281.161 -880.531Z"
            );
        }
    }
}

.glassy {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-white bg-opacity-20;
}
